/* pre defined classes*/
body {
    margin: 8px 8px;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* define end */

/* css variables */

:root {
    --blue: #8636cc;
}

/* var end */

.bar {
    justify-content: flex-start;
    background-color: var(--blue);
    padding: 6px 16px;
    color: white;
    border-radius: 2px;
    border: 2px solid black;
}
.head{
    text-shadow: 1px 1px 1px var(--blue);
    margin-top: 20px;
}
.bar :last-child {
    margin-left: auto;
}

.instructions {
    margin: 20px 12px;
    letter-spacing: 1px;
    line-height: 23px;
}
.image{
    height: 50px;
    width: 50px;
}
.main{
    margin-top: 30px;
}
.score{
    font-size: 52px;
}
.word{
    font-size: 33px;
    color: var(--blue);
    font-weight: bolder;
    text-shadow: 0 0 10px var(--blue);
    color: transparent;
}
.level{
    font-size: 23px;
    font-weight: bolder;
    color: var(--blue);
    text-shadow: .7px .7px 1px black;
}
/* element css */

li {
    list-style: none;
    margin: 0px 22px 0px 0px;
    font-weight: bolder;
}

button {
    padding: 5px 10px;
    border: none;
    box-shadow: 2px 2px 3px black;
    border-radius: 5px;
}
input{
    padding: 6px;
    font-size: 18px;
    box-shadow: 2px 2px 3px black;
    border: .1px solid black;
    border-radius: 5px;
}
a{
    text-decoration: none;
}