/* pre defined classes*/
body {
    margin: 2px 2px;
    background-color: black;
    color: white;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* define end */


/* css variables */

:root {
    --blue: #49c5b6;
}

/* var end */


.list {
    color: black;
    font-size: 18px;
}

.list2 {
    margin-right: 30px;
}

.list:hover {
    cursor: pointer;
}

.bar {
    justify-content: flex-start;
    background-color: var(--blue);
    padding: 0px 10px;
    color: white;
    border-radius: 2px;
    border: 3px solid white;
}

.head {
    text-shadow: 1px 1px 1px var(--blue);
    margin-top: 30px;
}

.bar :last-child {
    margin-left: auto;
}

.instructions {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 40px 12px;
    letter-spacing: 1px;
    line-height: 23px;
}

.instr {
    margin: 10px 0px;
}

.image {
    padding-top: 2px;
    height: 50px;
    width: 50px;
}

.moon {
    margin-right: 0px;
}

.main {
    margin-top: 30px;
}

.score {
    font-size: 52px;
}

.word {
    font-size: 33px;
    color: var(--blue);
    font-weight: bolder;
    text-shadow: 0 0 10px var(--blue);
    color: transparent;
}

.level {
    font-size: 23px;
    font-weight: bolder;
    color: var(--blue);
    text-shadow: .7px .7px 1px black;
}

.level:hover {
    cursor: pointer;
}

/* element css */

li {
    list-style: none;
    margin: 0px 22px 0px 0px;
    font-weight: bolder;
}

button {
    background-color: var(--blue);
    color: black;
    border: 1px solid black;
    box-shadow: 2px 3px 2px #183153;
    border-radius: 3px;
    font-size: 15px;
    padding: 2px 7px;
    transition: 0.2s all;
    font-weight: bolder;
}

button:hover {
    cursor: pointer;
}

input {
    padding: 6px;
    font-size: 18px;
    box-shadow: 2px 2px 3px black;
    border: .1px solid black;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

/*  floating */

.floating {
    position: fixed;
    bottom: 6%;
    right: 2%;
    opacity: 90%;
}

.info {
    font-size: 23px;
    background-color: #49c5b6;
    border-radius: 213px;
    padding: 15px 15px;
    border: 1px solid black;
}

.floating:hover {
    cursor: pointer;
}

.links {
    font-size: 33px;
    margin: 32px 10px;
}

.fa-github {
    font-size: 34px;
    margin-bottom: 12px;
    color: white;
}

.clear {
    margin: 0px 5px;
}

/* media queries */
@media screen and (min-width: 393px) {
    .clear {
        margin: 0px 18px;
    }
}

@media screen and (min-width: 600px) {
    .clear {
        margin: 0px 28px;
    }
}

@media screen and (min-width: 727px) {
    .instructions {
        margin: 40px 83px;
    }
}

@media screen and (min-width: 926px) {
    .instructions {
        margin: 40px 183px;
    }
}